@font-face {
    src: url("../fonts/Oxygen-Light.ttf");
    font-family: OxyLight;
}

@font-face {
    src: url("../fonts/Oxygen-Bold.ttf");
    font-family: OxyBold;
}

@font-face {
    src: url("../fonts/Oxygen-Regular.ttf");
    font-family: OxyReg;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes pulse {
    0% {
        opactiy: 1;
        transform: none;
    }
    50% {
        opacity: .8;
        transform: scale(.8);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@-webkit-keyframes fadein-bottom {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
  
@keyframes fadein-bottom {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout-bottom {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout-bottom {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@media screen and (max-width: 800px){
    .flex-box{
        flex-direction: column;
        margin: 0% 5%;
    }
}

/* * {
    margin: 0;
    padding: 0;
} */

.selected-tab {
    display: inline-block;
    position: relative;
    color: #1b6bf5;
}

.selected-tab::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #1b6bf5;
    transform-origin: bottom right;
    transform: scaleX(1);
    transform-origin: bottom left;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #1b6bf5;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #1b6bf5;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.changeColor {
    background-color: #333;
}

::placeholder {
    color: #333;
    font-family: OxyLight;
}

.navbar {
    text-align: left;
    display: flex;
    align-items: center;
    z-index: 10;
    padding: 10px 0%;
    background-color: white;
    border-bottom: 1px lightgray solid;
}

.navbar a {
    background-color: white;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    font-family: OxyLight;
    font-size: 20px;
    -webkit-transition: color 200ms linear;
    -ms-transition: color 200ms linear;
    transition: color 200ms linear;
}

.navbar a:hover {
    color: #1b6bf5;
    -webkit-transition: color 200ms linear;
    -ms-transition: color 200ms linear;
    transition: color 200ms linear;
}

.navbar nav {
    width: 100%;
}

.navbar img {
    vertical-align: middle;
    height: 40px;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline-block;
    margin: 0% 2%;
}

button {
    border-radius: 10px;
    padding: 8px 16px;
    color: #1b6bf5;
    text-align: center;
    font-family: OxyLight;
    font-size: 20px;
    outline: none;
    border: 1px solid #1b6bf5;
    background-color: white;
    cursor: pointer;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

button:hover {
    background: #1b6bf5;
    color: white;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

#right-align-button {
    float: right;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.flex-box {
    display: flex;
}

body {
    margin: 0;
    transition: 0.3s all;
}

#main-title {
    font-family: OxyReg;
    text-align: center;
    font-size: 50px;
    height: 100vh;
}

#main-title h3 {
    margin-top: 0;
    font-size: 30px;
    font-family: OxyReg;
}
.title {
    font-family: OxyReg;
    margin-top: 0;
    margin-bottom: 0;
    background-image: linear-gradient(147deg, #185a9d 35%, #43cea2 75%);
    background-position: center center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.subtitle {
    font-family: OxyBold;
    font-size: 50px;
    color: rgb(15, 50, 86);
    margin: 0;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

#main-content {
    margin: 5% 0%;
    font-family: OxyReg;
    text-align: left;
    padding: 0% 2.5%;
    font-size: 20px;
}


#main-content p{
    letter-spacing: 1px;
    line-height: 1.4em;
    font-family: OxyLight;
    font-size: 18px;
    text-align: left;
    color: #696969;
    margin-top: 2%;
}

#main-content a {
    text-decoration: none;
    color: #1b6bf5;
    font-weight: bold;
}

#main-content h2 {
    text-align: left;
    font-size: 28px;
    margin-bottom: 0;
    color: rgb(15, 50, 86);
}

.main-content-info-left {
    margin-left: 5%;
    margin-right: 2.5%;
    width: 50%;
}

.main-content-info-right {
    margin-left: 2.5%;
    margin-right: 5%;
    width: 50%;
}

@media screen and (max-width: 800px){
    .main-content-info-div{
        flex-direction: column;
    }
    .main-content-info-left{
        width: 100%;
        margin: 0;
    }
    .main-content-info-right{
        width: 100%;
        margin: 0;
    }
}

#down-arrow {
    margin-top: 50px;
    text-align: center;
}

#down-arrow img:hover{
    cursor: pointer;
}

#down-arrow img {
    animation: pulse 2s 3s ease-out infinite;
}

#site-features {
    background-color: #f3f5f9;
}

#site-features .flex-box {
    padding: 5% 0%;
}

#site-features img {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    vertical-align: middle;
}

#site-features p {
    font-family: OxyReg;
    font-size: 25px;
    margin: 0;
    color: #696969;
}

#site-features .subtitle {
    color: #1b6bf5;
    margin: 0;
}

.site-features-info {
    padding: 0% 5%;
    width: 50%;
}

@media screen and (max-width: 800px){
    .site-features-div-top {
        flex-direction: column;
    }
    .site-features-div-bottom {
        flex-direction: column;
    }
    .site-features-info {
        width: 100%;
        padding: 3% 0;
    }
}

.center-align {
    margin: 0;
    padding: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#filter-div {
    text-align: center;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

#filter {
    font-size: 20px;
    width: 50%;
    border-radius: 16px;
    padding: 16px;
    border: 1px solid lightgray;
    font-family: OxyLight;
    outline: none;
    -webkit-transition: border 200ms linear;
    -ms-transition: border 200ms linear;
    transition: border 200ms linear;
}

#filter:focus {
    border: 1px solid #1b6bf5;
    -webkit-transition: border 200ms linear;
    -ms-transition: border 200ms linear;
    transition: border 200ms linear;
}

.highlight {
    color: blue;
}

#definition-title {
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 5%;
}

#periodictable {
    margin-top: 100px;
    width: 100%;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
}

#polyatomic-title {
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 5%;
}

.polyatomic-table {
    font-family: OxyLight;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
}

.polyatomic-table table {
    width: 50%;
    table-layout: fixed;
    border-collapse: collapse;
}

.polyatomic-table th {
    font-size: 30px;
    border-bottom: 1px solid #333;
    cursor: pointer;
}

.polyatomic-table td {
    font-size: 20px;
    padding: 5px;
}

.polyatomic-table tbody tr:hover {
    background-color: #f5f5f5;
}

#feedback-explanation-div {
    text-align: center;
    margin: 0 15%;
    margin-bottom: 5%;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
}

#feedback-explanation-div p{
    font-family: OxyLight;
    text-align: center;
    font-size: 24px;
}

#feedback {
    margin-right: 5%;
    text-align: right;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    bottom: 0;
}

#feedback-title {
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 5%;
}

#feedback-icon {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: #08AEEA;
    background-image: linear-gradient(147deg, #08AEEA 0%, #2AF598 100%);
    background-position: center center;
}

#feedback-div {
    text-align: center;
    margin: 0% 25%;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
}


#feedback-type {
    width: 100%;
    font-family: OxyLight;
    font-size: 20px;
    height: 50px;
    border-radius: 32px;
    border-color: #333;
    outline: none;
    background-color: white;
    padding-left: 16px;
}

#feedback-text {
    width: 100%;
    margin-top: 7%;
    height: 100px;
    font-size: 20px;
    padding: 16px;
    border-radius: 16px;
    border: 1px solid lightgray;
    font-family: OxyLight;
    outline: none;
    -webkit-transition: border 200ms linear;
    -ms-transition: border 200ms linear;
    transition: border 200ms linear;
}

#feedback-text:focus {
    border: 1px solid #1b6bf5;
    -webkit-transition: border 200ms linear;
    -ms-transition: border 200ms linear;
    transition: border 200ms linear;
}

#feedback-submit {
    margin-top: 5%;
    border-radius: 10px;
    /* background: #0071e3; */
    padding: 8px 16px;
    color: #1b6bf5;
    border: 1px solid #1b6bf5;
    text-align: center;
    font-family: OxyLight;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

#feedback-submit:hover {
    background: #1b6bf5;
    color: white;
    border: 1px solid #1b6bf5;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

#contributors h2{
    text-align: center;
    margin: 0;
}

#contributors {
    text-align: center;
}

#contributors p {
    font-family: OxyReg;
    margin: 0;
}

.contributors-sub-div {
    display: inline-block;
    text-align: center;
    padding: 2%;
}

.contributors-sub-div a {
    text-decoration: none;
    color: #333;
    -webkit-transition: color 200ms linear;
    -ms-transition: color 200ms linear;
    transition: color 200ms linear;
}

.contributors-sub-div a:hover{
    color: #1b6bf5;
    -webkit-transition: color 200ms linear;
    -ms-transition: color 200ms linear;
    transition: color 200ms linear;
}

.contributors-img-div img{ 
    width: 10vw;
    border-radius: 50%;
    -webkit-transition: opacity 200ms linear;
    -ms-transition: opacity 200ms linear;
    transition: opacity 200ms linear;
}

.contributors-img-div img:hover{
    opacity: 0.8;
    -webkit-transition: opacity 200ms linear;
    -ms-transition: opacity 200ms linear;
    transition: opacity 200ms linear;
}

.contributor-name {
    font-family: OxyReg;
    /* font-size: 10px; */
    font-size: 1.5em;
}

#definitions-cards-container {
    margin: 0% 10%;
    margin-top: 50px;
}

#solubility-cards-container {
    margin: 0% 10%;
    margin-top: 100px;
}

.card .subtitle {
    font-size: 30px;
}

.card a {
    text-decoration: none;
    color:rgb(15, 50, 86);
    -webkit-transition: color 100ms linear;
    -ms-transition: color 100ms linear;
    transition: color 100ms linear;
}

.card h3 {
    font-family: OxyLight;
    font-size: 20px;
    color: #696969;
    margin-bottom: 0;
}

.card {
    margin-top: 2%;
    border-radius: 10px;
    border: 1px solid lightgray;
    padding: 18px;
    -webkit-transition: border-color 200ms linear;
    -ms-transition: border-color 200ms linear;
    transition: border-color 200ms linear;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
}

.card:hover {
    border: 1px solid #1b6bf5;
    -webkit-transition: border-color 200ms linear;
    -ms-transition: border-color 200ms linear;
    transition: border-color 200ms linear;
}

.card a:hover {
    color: #1b6bf5;
    -webkit-transition: color 100ms linear;
    -ms-transition: color 100ms linear;
    transition: color 100ms linear;
}

#snackbar-success {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    /* background-color: #39C16C; Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
    font-family: OxyLight;
    background:rgba(57,193,108,0.8);
    backdrop-filter: saturate(180%) blur(20px);
}

#snackbar-fail {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    /* background-color: #39C16C; Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
    font-family: OxyLight;
    background:rgba(255,80,64,0.8);
    backdrop-filter: saturate(180%) blur(20px);
}

#snackbar-success.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein-bottom 0.5s, fadeout-bottom 0.5s 2.5s;
    animation: fadein-bottom 0.5s, fadeout-bottom 0.5s 2.5s;
}

#snackbar-fail.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein-bottom 0.5s, fadeout-bottom 0.5s 2.5s;
    animation: fadein-bottom 0.5s, fadeout-bottom 0.5s 2.5s;
}

footer {
    text-align: center;
    margin: 5% 10%;
}

footer a {
    margin: 5%;
}

